{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron text-center bg-light p-5 rounded shadow-sm">
    <img src="{{ url_for('static', filename='images/logo2.svg') }}" style ="width: 200px;height: auto;" alt="Hotel image" class="img-fluid rounded mb-3 mx-auto d-block" />
    <h1 class="display-4 fw-bold" >Welcome to the Hotel Management System</h1>
    <hr class="my-4">
    {% if current_user.is_authenticated %}
    <p>You are logged in as: <strong>{{ current_user.username }}</strong>.</p>
    <p>Explore the hotel management features available to you.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg me-2" href="{{ url_for('main.profile') }}" role="button"><i class="fas fa-id-card"></i> View your profile</a>
            <a class="btn btn-secondary btn-lg" href="{{ url_for('auth.logout') }}" role="button"><i class="fas fa-sign-out-alt"></i> Log out</a>
        </p>
    {% else %}
    <p>Please log in or register to continue.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg me-2" href="{{ url_for('auth.login') }}" role="button"><i class="fas fa-sign-in-alt"></i> Log in</a>
            <a class="btn btn-success btn-lg" href="{{ url_for('auth.register') }}" role="button"><i class="fas fa-user-plus"></i> Register</a>
        </p>
    {% endif %}
</div>
{% endblock %}